<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Apple Hearsay</h1>
        <img id="apple-header" class="img-responsive center-block" alt="red apple" src="/assets/img/red-apple.png"/>
        <h4 class="text-center">Do you Love Rumors and Gossip about Apple Inc.?</h4>
        <h5 class="text-center">Use this handy dandy tool to read up and leave comments on all the latest Apple Hearsay from around the web!</h5>
        <button type="button" class="btn btn-lg" id="scrape-news-button"><i class="fas fa-newspaper"></i> Fetch the Latest Hearsay</button>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        {{#each dbArticle}}
            <div class="card card-success article-card">
                <div class="card-header article-header">
                    <h4 class="card-title">{{this.title}}</h4>
                    <p>{{this.date_posted}}</p>
                </div>
                <div class="card-body">
                    <p>{{{this.content}}}</p>
                    <a role="button" class="btn btn-success" href="{{this.link}}" target='_blank'><i class="fas fa-external-link-alt"></i> Read on MacRumors</a>
                </div>
                    
                <div class="card-footer">
                    <div>
                        <h5><i class="fas fa-comments"></i> Comments</h5>
                        <div class="row">
                            {{#each this.comments}}
                                <div class="col-md-6">
                                    <p>{{this.body}}</p>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-danger deleteComment" data-comment-id={{this._id}} data-article-id={{this.article}}>
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <hr>
                    <button type="button" class="btn btn-primary addComment" data-toggle="modal" data-target="#commentModal-{{this._id}}" data-id={{this._id}}><i class="far fa-comment-alt"></i> Add a Comment</button>
                    {{!-- <form id="comment-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="comment_text" id="comment" placeholder="leave a comment">
                        </div>
                        <button type="button" class="btn btn-primary" id="comment-submit-button" data-id={{this._id}}>Submit</button>
                    </form> --}}
                </div>
            </div>
            {{> commentsModals }}
        {{/each}}
    </div>
</div>
